.sobre_sob{
    text-align: center;
    background-color: rgba(214, 176, 119, 0.529);
    border-radius: 5px;
    margin: 0 auto; 
    width: 80%;
    padding: 20px;
}

#sobre_entrevero{
    text-align: justify;
}

#card_evento {
      margin: 0 auto;
}


